In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('credit_debit_preprocessed_transactions.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900000 entries, 0 to 899999
Data columns (total 45 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Unnamed: 0.1                 900000 non-null  int64
 1   Unnamed: 0                   900000 non-null  int64
 2   User                         900000 non-null  int64
 3   Card                         900000 non-null  int64
 4   Year                         900000 non-null  float64
 5   Month                        900000 non-null  float64
 6   Day                          900000 non-null  float64
 7   Time                         900000 non-null  object
 8   Amount                       900000 non-null  float64
 9   Use Chip                     900000 non-null  object
 10  Merchant Name                900000 non-null  float64
 11  Merchant City                900000 non-null  object
 12  Merchant State               900000 non-null  object
 13  Zip                          900000 non-null  float64
 14  MCC                          900000 non-null  float64
 15  Errors?                      900000 non-null  object
 16  Is Fraud?                    900000 non-null  object
 17  Card Brand                   900000 non-null  object
 18  Card Type                    900000 non-null  object
 19  Card Number                  900000 non-null  int64
 20  Expires                      900000 non-null  object
 21  CVV                          900000 non-null  int64
 22  Has Chip                     900000 non-null  object
 23  Cards Issued                 900000 non-null  int64
 24  Credit Limit                 900000 non-null  int64
 25  Acct Open Date               900000 non-null  object
 26  Year PIN last Changed        900000 non-null  int64
 27  Card on Dark Web             900000 non-null  object
 28  Person                       900000 non-null  object
 29  Current Age                  900000 non-null  int64
 30  Retirement Age               900000 non-null  int64
 31  Birth Year                   900000 non-null  int64
 32  Birth Month                  900000 non-null  int64
 33  Gender                       900000 non-null  object
 34  user_Address                 900000 non-null  object
 35  user_City                    900000 non-null  object
 36  user_State                   900000 non-null  object
 37  user_Zipcode                 900000 non-null  int64
 38  user_Latitude                900000 non-null  float64
 39  user_Longitude               900000 non-null  float64
 40  Per Capita Income - Zipcode  900000 non-null  int64
 41  Yearly Income - Person       900000 non-null  int64
 42  Total Debt                   900000 non-null  int64
 43  FICO Score                   900000 non-null  int64
 44  Num Credit Cards             900000 non-null  int64
dtypes: float64(9), int64(19), object(17)
memory usage: 309.0+ MB

In [4]:
df.head()

,Unnamed: 0.1,Unnamed: 0,User,Card,Year,Month,Day,Time,Amount,Use Chip,...,user_City,user_State,user_Zipcode,user_Latitude,user_Longitude,Per Capita Income - Zipcode,Yearly Income - Person,Total Debt,FICO Score,Num Credit Cards
0,0,0,0,0,2002.0,9.0,1.0,06:21,134.09,Swipe Transaction,...,La Verne,CA,91750,34.15,-117.76,29278,59696,127613,787,5
1,1,1,0,0,2002.0,9.0,1.0,06:42,38.48,Swipe Transaction,...,La Verne,CA,91750,34.15,-117.76,29278,59696,127613,787,5
2,2,2,0,0,2002.0,9.0,2.0,06:22,120.34,Swipe Transaction,...,La Verne,CA,91750,34.15,-117.76,29278,59696,127613,787,5
3,3,3,0,0,2002.0,9.0,2.0,17:45,128.95,Swipe Transaction,...,La Verne,CA,91750,34.15,-117.76,29278,59696,127613,787,5
4,4,4,0,0,2002.0,9.0,3.0,06:23,104.71,Swipe Transaction,...,La Verne,CA,91750,34.15,-117.76,29278,59696,127613,787,5