In [33]:
import pandas as pd
import numpy as np
# import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

pd.pandas.set_option('display.max_columns',None)
pd.pandas.set_option('display.max_rows',None)

import datetime as datetime


import plotly.express as px
import plotly.offline as py
import plotly.graph_objs as go

from sklearn.preprocessing import LabelEncoder


import matplotlib.pyplot as plt
import calendar

In [2]:
dd=pd.DataFrame()
chunk_size = 1000000  # Adjust based on your memory constraints
for chunk in pd.read_csv('model_dataset.csv', chunksize=chunk_size,encoding='ISO_8859_1'):
    # print(chunk.head())
    dd=pd.concat([dd,chunk])
    print(dd.shape)

(59514, 22)

In [4]:
dd_copy=dd.copy()

In [5]:
dd.head()

,Unnamed: 0,Date,Amount,Use Chip,Merchant City,Merchant State,MCC,Is Fraud?,Current Age,Gender,Latitude,Longitude,Yearly Income - Person,Total Debt,FICO Score,CARD INDEX,Card Brand,Card Type,Card Number,Has Chip,Cards Issued,Credit Limit
0,0,2015-11-15,287.13,Online Transaction,ONLINE,ONLINE,3001,1,53,Female,34.15,-117.76,59696,127613,787,0,Visa,Debit,4344676511950444,1,2,24295
1,1,2015-11-15,2.41,Online Transaction,ONLINE,ONLINE,5651,1,53,Female,34.15,-117.76,59696,127613,787,0,Visa,Debit,4344676511950444,1,2,24295
2,2,2015-11-16,50.81,Online Transaction,ONLINE,ONLINE,4411,1,53,Female,34.15,-117.76,59696,127613,787,0,Visa,Debit,4344676511950444,1,2,24295
3,3,2015-11-16,248.36,Online Transaction,ONLINE,ONLINE,5732,1,53,Female,34.15,-117.76,59696,127613,787,0,Visa,Debit,4344676511950444,1,2,24295
4,4,2015-11-16,473.00,Online Transaction,ONLINE,ONLINE,3640,1,53,Female,34.15,-117.76,59696,127613,787,0,Visa,Debit,4344676511950444,1,2,24295

In [6]:
ddf=dd[dd['Is Fraud?']==1]

In [7]:
ddf.shape

(29757, 22)

### Numerical_features

In [8]:
numerical_features = [feature for feature in dd.columns if dd[feature].dtypes != 'O']
print('Number of numerical variables: ', len(numerical_features))
dd[numerical_features].head()

Number of numerical variables:  15

,Unnamed: 0,Amount,MCC,Is Fraud?,Current Age,Latitude,Longitude,Yearly Income - Person,Total Debt,FICO Score,CARD INDEX,Card Number,Has Chip,Cards Issued,Credit Limit
0,0,287.13,3001,1,53,34.15,-117.76,59696,127613,787,0,4344676511950444,1,2,24295
1,1,2.41,5651,1,53,34.15,-117.76,59696,127613,787,0,4344676511950444,1,2,24295
2,2,50.81,4411,1,53,34.15,-117.76,59696,127613,787,0,4344676511950444,1,2,24295
3,3,248.36,5732,1,53,34.15,-117.76,59696,127613,787,0,4344676511950444,1,2,24295
4,4,473.00,3640,1,53,34.15,-117.76,59696,127613,787,0,4344676511950444,1,2,24295

In [9]:
vif1=dd[dd[numerical_features].columns[dd[numerical_features].columns!='Is Fraud?']]

In [10]:
vif1.head()

,Unnamed: 0,Amount,MCC,Current Age,Latitude,Longitude,Yearly Income - Person,Total Debt,FICO Score,CARD INDEX,Card Number,Has Chip,Cards Issued,Credit Limit
0,0,287.13,3001,53,34.15,-117.76,59696,127613,787,0,4344676511950444,1,2,24295
1,1,2.41,5651,53,34.15,-117.76,59696,127613,787,0,4344676511950444,1,2,24295
2,2,50.81,4411,53,34.15,-117.76,59696,127613,787,0,4344676511950444,1,2,24295
3,3,248.36,5732,53,34.15,-117.76,59696,127613,787,0,4344676511950444,1,2,24295
4,4,473.00,3640,53,34.15,-117.76,59696,127613,787,0,4344676511950444,1,2,24295

In [11]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [12]:
vif_data = pd.DataFrame()
vif_data["feature"] = vif1.columns
  
# calculating VIF for each feature
vif_data["VIF"] = [variance_inflation_factor(vif1.values, i)
                          for i in range(len(vif1.columns))]
  
print(vif_data)

                   feature        VIF
0               Unnamed: 0   1.058041
1                   Amount   1.034429
2                      MCC   0.926985
3              Current Age   1.126478
4                 Latitude   0.842669
5                Longitude   0.883011
6   Yearly Income - Person   1.685595
7               Total Debt   1.514079
8               FICO Score   0.594029
9               CARD INDEX   1.075275
10             Card Number  13.195119
11                Has Chip   0.971795
12            Cards Issued   0.962702
13            Credit Limit   1.346188

In [13]:
dd[numerical_features].corr()[['Is Fraud?']]

                           Is Fraud?
Unnamed: 0             -8.660254e-01
Amount                  2.026509e-01
MCC                    -1.848221e-01
Is Fraud?               1.000000e+00
Current Age            -2.294331e-15
Latitude                2.101924e-14
Longitude              -7.624976e-15
Yearly Income - Person -2.743730e-15
Total Debt              6.189690e-15
FICO Score             -5.640209e-14
CARD INDEX              2.350275e-15
Card Number            -8.602248e-16
Has Chip                1.957570e-15
Cards Issued            4.206640e-16
Credit Limit           -2.536710e-15

### Multi colinearity occurs b/w Per Capita Income - Zipcode & Yearly Income - Person. So, removing one of the colunmn

In [14]:
del dd['Per Capita Income - Zipcode']

KeyError: 'Per Capita Income - Zipcode'

In [17]:
dd.drop(['Cards Issued','Total Debt'],axis=1,inplace=True)

In [18]:
dd.shape

(59514, 20)

### categorical_features

In [19]:
categorical_features=[feature for feature in dd.columns if dd[feature].dtype=='O']
cat=dd[dd[categorical_features].columns[dd[categorical_features].columns!='Date']]

In [20]:
cat.columns

Index(['Use Chip', 'Merchant City', 'Merchant State', 'Gender', 'Card Brand',
       'Card Type'],
      dtype='object')

In [21]:
from sklearn.datasets import load_digits
from sklearn.feature_selection import SelectKBest, chi2

In [23]:
from scipy.stats import chi2_contingency
# Defining a function to perform the Chi-Square Test and interpret results
def perform_chi_square_test(data, col1, col2):
    # Creating a contingency table
    contingency_table = pd.crosstab(data[col1], data[col2])
 
    # Performing the Chi-Square Test
    chi2, p, dof, expected = chi2_contingency(contingency_table)
 
    # Interpreting the result
    significant = p < 0.05  # 5% significance level
    return chi2, p, significant
 
# Additional aspects to test in the Mathematics dataset
additional_aspects_to_test = {
    'Use Chip and fraud': ('Use Chip', 'Is Fraud?'),
    'Merchant City and fraud': ('Merchant City', 'Is Fraud?'),
    'Merchant State and fraud': ('Merchant State', 'Is Fraud?'),
    'Card Brand and fraud': ('Card Brand', 'Is Fraud?'),
    'gender and fraud': ('Gender', 'Is Fraud?')
    
}
# Performing the additional tests for Mathematics dataset
additional_mat_chi_square_results = {aspect: perform_chi_square_test(dd, *columns) for aspect, columns in additional_aspects_to_test.items()}
additional_mat_chi_square_results

{'Use Chip and fraud': (np.float64(18125.55531588349),
  np.float64(0.0),
  np.True_),
 'Merchant City and fraud': (np.float64(41374.03717119187),
  np.float64(0.0),
  np.True_),
 'Merchant State and fraud': (np.float64(33661.829964430144),
  np.float64(0.0),
  np.True_),
 'Card Brand and fraud': (np.float64(0.0), np.float64(1.0), np.False_),
 'gender and fraud': (np.float64(0.0), np.float64(1.0), np.False_)}

### Gender Analysis

In [24]:
ddf['Gender'].value_counts()

Gender
Female    15614
Male      14143
Name: count, dtype: int64

In [25]:
cross_tab = pd.crosstab(dd_copy['Is Fraud?'], dd_copy['Gender'])
cross_tab

Gender     Female   Male
Is Fraud?
0           15614  14143
1           15614  14143

In [26]:
dd['Gender'].value_counts()

Gender
Female    31228
Male      28286
Name: count, dtype: int64

In [27]:
del dd['Gender']

In [28]:
dd.shape

(59514, 19)

In [29]:
dd.columns

Index(['Unnamed: 0', 'Date', 'Amount', 'Use Chip', 'Merchant City',
       'Merchant State', 'MCC', 'Is Fraud?', 'Current Age', 'Latitude',
       'Longitude', 'Yearly Income - Person', 'FICO Score', 'CARD INDEX',
       'Card Brand', 'Card Type', 'Card Number', 'Has Chip', 'Credit Limit'],
      dtype='object')

In [30]:
del dd['Date']

In [31]:
dd.shape

(59514, 18)

In [34]:
le = LabelEncoder()
dd['Card Type'] = le.fit_transform(dd['Card Type'])

In [37]:
#dd.to_csv(r'D:\ccfd\IBM2.csv',index=False)
dd.to_csv(r'training_data_1.csv',index=False)